.divOption{
    position: relative;
    top: 60px;
}
.option{
    position: absolute;
    right: 10px;
    &__label{
        margin-right: 10px;
        font-size: 20px;
        color: #8a5a44;
    }
    &__select{
        margin-right: 10px;
    }
}