.series {
  width: 30%;
  background-color: #f5ebe0;
  margin: 10px;
  border-radius: 20px;
  &__cardSerie {
    list-style: none;
    &_link {
      text-decoration: none;
      color: #8a5a44;
    }
    &_image {
      width: 200px;
      border-radius: 20px;
      height: 250px;
    }
  }
}
